@tailwind base;
@tailwind components;
@tailwind utilities;

@media (max-width: 300px) {
    .subscribe-input, .search-input {
      width: 70%;
    }
  }

  .my-health {
    width: 600px;
  }
  
@media  screen and (max-width: 768px) {
    .my-health {
      width: 100%;
    }
  
}
